*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

:root {
    --dark-cyan:  hsl(180, 29%, 50%);
    --background-cyan: hsl(180, 52%, 96%);
    --filter-cyan: hsl(180, 31%, 95%);
    --grayish-cyan: hsl(180, 8%, 52%);
    --darker-cyan: hsl(180, 14%, 20%);
}

html {
    font-family: 'League Spartan', sans-serif;
}

body {
    margin: 0;
    font-size: 15px;
}

.header{
    height: 13rem;
    background-color: var(--dark-cyan);
    background-image: url("/images/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: var(--background-cyan);
    min-height: calc(100vh - 13rem);
    padding: 4rem 0;
}

.inline-block {
    display: inline-block;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

/*!-------------------------------------------CARD-------------------------------------------*/

.listingCards {
    padding: 0 50px;
}

.job {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    position: relative;
    /*shadow*/
    -webkit-box-shadow: 0px 10px 20px -10px var(--dark-cyan);
            box-shadow: 0px 10px 20px -10px var(--dark-cyan);
    transition: all 0.3s ease-in-out;
    border-left: 10px solid transparent;
}

.job:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px -5px var(--dark-cyan);
    -webkit-box-shadow: 0px 10px 20px -5px var(--dark-cyan);
    border-left: 10px solid var(--dark-cyan);
    cursor: pointer;
}

.job__information__company {
    color: var(--dark-cyan);
    font-weight: 700;
    font-size: 1rem;
}

.job__information__details {
    display: flex;
    align-items: center;
}

.job__information__details p {
    color: var(--grayish-cyan);
}

.job__information__position {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3rem;
    color: #000000;
}

.job__information__new {
    background-color: var(--dark-cyan);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 5px;
    font-weight: 700;
}

.job__information__featured {
    background-color: var(--darker-cyan);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 5px;
    font-weight: 700;
}

.job__information__details__separator {
    margin: 0 8px;
    background-color: var(--grayish-cyan);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.job__filters {
    float: right;
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.job__delete {
    padding: 5px 7px;
    background-color: #BF360C;
    position: absolute;
    top: 9px;
    right: 9px;
    border-radius: 5px;
    color: white;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* margin-bottom: 50px; */
    border-radius: 5px;
    background-color: var(--filter-cyan);
    transition: all 0.3s ease-in-out;
    color: var(--dark-cyan);
    font-weight: 700;
}

.filter:hover {
    background-color: var(--dark-cyan);
    cursor:pointer;
    color: #ffffff;
}

@media screen and (max-width: 768px){
    main {
        padding: 2rem 0;
    }

    .listingCards {
        padding: 0 25px;
    }

    .job {
        flex-direction: column;
        align-items: flex-start;
        border: 0;
        padding: 15px 9px;
    }

    .job__filters {
        display: flex;
        gap: 5px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .job__image {
        margin-top: -2.5rem;
        margin-right: 1.5rem;
        margin-bottom: 8px;
        width: 70px;
        height: 70px; 
    }
   
}

/*!-------------------------------------------CARD ENDS-------------------------------------------*/


/*!-------------------------------------------ADD JOB-------------------------------------------*/
.addJob {
    position: fixed;
    bottom: 20px; /* Adjust this value to change the vertical position */
    right: 20px; /* Adjust this value to change the horizontal position */
    width: 50px; /* Set the width and height to the same value to create a round button */
    height: 50px; /* Set the width and height to the same value to create a round button */
    background-color: var(--dark-cyan); /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 50%; /* This property creates a round shape */
    cursor: pointer;
    font-size: 30px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

.addJob:hover {
    background-color: var(--darker-cyan);
    border: none;
}

/*!-------------------------------------------ADD JOB ENDS-------------------------------------------*/
