name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

    - name: Login to GitHub Container Registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build Docker image
      run: |
        docker build . --file Dockerfile --tag ghcr.io/${{ github.repository_owner }}/web-ass-1:stable
        docker push ghcr.io/${{ github.repository_owner }}/web-ass-1:stable
  update:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Send POST request to Portainer webhook
        run: |
          # Replace the URL with your Portainer webhook URL
          PORTAINER_WEBHOOK_URL="https://162.19.224.10:9443/api/webhooks/fc26e2c5-a175-4f4d-aab8-44d000a5c795"

          # Send the POST request to trigger the update (with insecure option)
          curl -k -X POST -d '{}' "$PORTAINER_WEBHOOK_URL"
